<header>
  <article
    *ngIf="carDetails; else carDetailsUndefined"
    class="details title-container"
  >
    <h1 class="title">{{ carDetails.model }}</h1>
    <p class="cost">${{ carDetails.price }}</p>
  </article>
  <section class="details description-container">
    <p class="description-p">
      <span class="description-p-span1">{{ carDetails.description }}</span>
      <span class="descriptionn-p-span2">
        {{ carDetails.conclusion }}
      </span>
    </p>
    <img class="details img" src="https://placehold.jp/400x400.png" />
    <article class="details color-picker">
      <h2 class="color-picker-title">
        {{ "select from available colors to order" | uppercase }}
      </h2>
      <div class="color-container">
        <span class="color red"></span><span class="color pink"></span
        ><span class="color yellow"></span><span class="color gold"></span
        ><span class="color green"></span><span class="color blue"></span
        ><span class="color black"></span><span class="color white"></span>
      </div>
    </article>
    <aside class="details stats">
      <h2 class="details stats-title">Vehicle Status</h2>
      <p class="details stats-description">
        <span class="details stats-description-title">Top Speed</span
        ><span class="details stats-description-details"></span>
      </p>
      <p class="details stats-description">
        <span class="details stats-description-title">Acceleration</span
        ><span class="details stats-description-details"></span>
      </p>
      <p class="details stats-description">
        <span class="details stats-description-title">Braking</span
        ><span class="details stats-description-details"></span>
      </p>
      <p class="details stats-description">
        <span class="details stats-description-title">Traction</span
        ><span class="details stats-description-details"></span>
      </p>
    </aside>
  </section>
  <button class="details btn">order</button>
  <ng-template #carDetailsUndefined><p>Loading...</p></ng-template>
</header>
<main>
  <router-outlet></router-outlet>
</main>
