.body-container::before {
  background-image: url("../../../assets/images/headerbackground.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: var(--header-top);
  width: 100%;
  content: "";
  z-index: -1;
}

.body-container::after {
  position: absolute;
  top: var(--header-top);
  left: 0;
  height: var(--header-border-height);
  width: 100%;
  content: "";
  z-index: -1;
  background-color: rgba(159, 15, 15, 255);
}

.body-container {
  background-color: var(--body-bg);
  width: var(--view-width);
  margin-inline: auto;
  color: var(--text-color);
  border-inline: 2px solid rgba(99, 11, 15, 255);
}

/*   Header   */
.header-border {
  border-top: 2px solid rgba(99, 11, 15, 255);
}

header::before {
  position: absolute;
  height: 20rem;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  z-index: -1;
}

header {
  width: var(--view-width);
  margin-inline: auto;
  margin-top: 30vh;
  margin-bottom: 3rem;
}

.title-container {
  grid-area: title;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.description-container {
  overflow: auto;
  min-height: 80vh;
}

.btn {
  width: 40%;
}

/*  ||  Spacing - (DefaultStyles) */
header {
  padding-inline: var(--gap-inline);
  padding-block: var(--gap-block);
}

.description-container {
  margin-top: var(--gap-block);
}

.description-p {
  margin-top: var(--gap-block);
}

.img {
  margin-top: var(--gap-block);
}

.color-picker {
  margin-top: var(--gap-block);
}

.color-container {
  margin-top: var(--gap-block);
}

.color {
  margin: 0.6rem 1.2rem;
}

.stats {
  margin-top: var(--gap-block);
}
.stats-description {
  margin-top: var(--gap-block);
  margin-left: 1.2rem;
}

.btn {
  margin-top: var(--gap-block);
}

/*  ||  Grid Section */

.description-container {
  display: grid;
  column-gap: 1rem;
  grid-template-areas:
    "title title"
    "description-p img"
    "description-p img"
    "color-picker img"
    "stats img"
    "btn img";
}

.description-p {
  grid-area: description-p;
}

.img {
  grid-area: img;
}

.color-picker {
  grid-area: color-picker;
}

.stats {
  grid-area: stats;
}

.btn {
  grid-area: btn;
}

/*  color-picker    */
.selected-border {
  border: 3px solid gray;
}

.color-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

input[name="color"] {
  display: inline-block;
  border-radius: 50%;
  min-width: 3rem;
  min-height: 3rem;
  visibility: hidden;
  position: relative;
}

input[name="color"]:after {
  min-width: 3rem;
  min-height: 3rem;
  border-radius: 50%;
  position: absolute;
  content: "";
  display: inline-block;
  visibility: visible;
}

input[data-id="color"]:checked:after {
  border-radius: 50%;
  position: absolute;
  content: "";
  left: -4px;
  top: -3px;
  display: inline-block;
  visibility: visible;
  border: 4px solid rgb(100, 100, 100);
}

input[data-value="red"]:after {
  background-color: red;
}

input[data-value="pink"]:after {
  background-color: pink;
}

input[data-value="yellow"]:after {
  background-color: yellow;
}

input[data-value="gold"]:after {
  background-color: gold;
}

input[data-value="green"]:after {
  background-color: green;
}

input[data-value="blue"]:after {
  background-color: blue;
}

input[data-value="black"]:after {
  background-color: black;
}

input[data-value="white"]:after {
  background-color: white;
}

main {
  width: var(--view-width);
  margin-inline: auto;
}

.filter-container {
  position: relative;
}

.filter-container {
  top: 10%;
}

/*  Stats  */

.stats-description {
  display: flex;
  justify-content: space-between;
  width: 260px;
}

.stats-description-details {
  display: flex;
  align-items: center;
}

.stats-description-details > span {
  display: inline-block;
  min-width: 1.5rem;
  height: 5px;
  margin-inline: 3px;
  position: relative;
}

.stats-description-details > span > span {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
}
