/*   Header   */

header {
  width: var(--view-width);
  height: 40vh;
  margin-inline: auto;
  display: grid;
  place-content: end;
  padding-inline: var(--gap-inline);
  margin-block-end: var(--gap-block);
  position: relative;
}

/*   Main   */

/*   Footer   */

footer aside {
}

footer aside img {
  width: 100%;
  height: 10%;
}
