/*  Background  */

.body-container::before {
  background-image: url("../../../assets/images/headerbackground.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: var(--header-top);
  width: 100%;
  content: "";
  z-index: -1;
}

.body-container::after {
  position: absolute;
  top: var(--header-top);
  left: 0;
  height: var(--header-border-height);
  width: 100%;
  content: "";
  z-index: -1;
  background-color: rgba(159, 15, 15, 255);
}

/*   Header   */

header {
  width: var(--view-width);
  height: 40vh;
  margin-inline: auto;
  display: grid;
  place-content: end;
  padding-inline: var(--gap-inline);
  margin-block-end: var(--gap-block);
  position: relative;
}

/*   Main   */

/*  Footer[in style.css]  */
