/* You can add global styles to this file, and also import other style files */

/*  Reset  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  background-size: cover;
  shape-margin: 1rem;
}

ul,
li {
  list-style-type: none;
}

body::-webkit-scrollbar {
  width: 0;
}

button,
input {
  color: inherit;
}

/*  Variable  */
:root {
  --view-width: 64vw;
  --gap-inline: 2rem;
  --gap-block: 0.5rem;
  --header-top: 48vh;
  --header-border-height: 0.2rem;

  --body-bg: rgba(33, 1, 4, 255);

  --btn-color: #af0100;
  --btn-color-hover: #fff;
  --btn-color-selected: #ff0000;

  --text-color: #eaeaea;
}

/*  Common Styles  */
button {
  border: none;
  background-color: var(--btn-color);
  height: 2.8rem;
  /*nav btn width in stock.component*/
}

body {
  /*rgba(159, 15, 15, 255)*/
  background-color: rgba(86, 12, 13, 255);
}

/* body::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100rem;
  content: "";
  height: 100rem;
  z-index: -10;
} */

/*  Stock  */
.stock-border {
  border: 2px solid rgba(99, 11, 15, 255);
}

/*   Footer   */

footer {
  position: relative;
}

footer::before {
  position: absolute;
  left: 0;
  height: 0;
  width: 100%;
  height: 0.2rem;
  background-color: rgba(159, 15, 15, 255);
  content: "";
}

footer aside img {
  width: 100%;
  height: 10%;
}
