<main class="stock-container">
  <nav class="stock-nav">
    <ul class="stock-nav-list">
      <li>
        <button class="stork-nav-btn" (click)="filterHandler('featured')">
          Featured
        </button>
      </li>
      <li>
        <button class="stork-nav-btn" (click)="filterHandler('2 door')">
          2 Doors
        </button>
      </li>
      <li>
        <button class="stork-nav-btn" (click)="filterHandler('4 door')">
          4 Doors
        </button>
      </li>
      <li>
        <button class="stork-nav-btn" (click)="filterHandler('motorcycles')">
          Motorcycles
        </button>
      </li>
      <li>
        <button class="stork-nav-btn" (click)="filterHandler('special')">
          Special
        </button>
      </li>
    </ul>
  </nav>
  <section class="stock-section">
    <ng-container *ngIf="currentList; else currentListUndefined">
      <ol class="stock-section-list" #store>
        <div *ngFor="let currentItem of currentList">
          <li [routerLink]="['details', currentItem.id]">
            <article class="card">
              <h2
                class="card-category"
                [attr.data-title]="currentItem.category"
              ></h2>
              <img
                class="card-img"
                src="https://placehold.jp/150x150.png"
                width="250"
                height="120"
              />
              <div class="card-description-btn">
                <p class="card-description">
                  {{ currentItem.model }}
                </p>
                <button class="card-btn">${{ currentItem.price }}</button>
              </div>
            </article>
          </li>
        </div>
      </ol></ng-container
    >
    <ng-template #currentListUndefined
      ><p>Something went wrong in stock....</p></ng-template
    >
  </section>
</main>
